<a href="https://colab.research.google.com/github/thanmaya14/raptor-to-python/blob/main/raptor_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#finding average of 3 values
x=int(input("enter a number"))
y=int(input("enter a number"))
z=int(input("enter a number"))
avg=(x+y+z)/3
print("the average value is",avg)

enter a number4
enter a number5
enter a number9
the average value is 6.0

In [ ]:
# sum and average of 3 numbers
a=int(input("enter number1: "))
b=int(input("enter number2: "))
c=int(input("enter number3: "))
sum=a+b+c
avg=sum/3
print("the sum of 3 number is: ",sum)
print("the average of 3 number is: ",avg)

enter number1: 666
enter number2: 222
enter number3: 222
the sum of 3 number is:  1110
the average of 3 number is:  370.0

In [ ]:
#convert the time entered in seconds into hours , minutes, seconds

seconds=int(input("enter the time inseconds: "))
s=seconds%60
m=seconds//60
h=seconds//3600
print(h, ":" ,m ,":" ,s,)

enter the time inseconds: 123456
34 : 2057 : 36

In [ ]:
#find the area and perimeter
import math
x=int(input("enter the value: "))
y=int(input("enter the value: "))
z=int(input("enter the value: "))
perimeter=x+y+z
s=perimeter/2
area=math.sqrt(s*(s-x)*(s-y)*(s-z))
print("the perimeter of the traingle is",perimeter)
print("area of the triangle is: ",area)

enter the value: 6
enter the value: 8
enter the value: 12
the perimeter of the traingle is 26
area of the triangle is:  21.330729007701542

In [ ]:
#area of triangle
r=float(input("enter the radius value: "))
area=3.14*r*r
print("the area of the triangle is: ",area)

enter the radius value: 7
the area of the triangle is:  153.86

In [ ]:
#enter 2 unequal number and interchange them without using a third variable
a=int(input("Enter a number a : "))
b=int(input("Enter a number b : "))
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

Enter a number a : 5
Enter a number b : 15
a= 15
b= 5

In [ ]:
# Display Sum, Difference, Product, Quotient and Remainder of two Unequal Numbers
num1 = float(input("Enter 1st Number: "))
num2 = float(input("Enter 2nd Number: "))
sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1//num2
remainder=num1%num2
print("The Sum is ",sum)
print("The DIfference is ",difference)
print("The Product is ",product)
print("The Quotient is ",quotient)
print("The Remainder is ",remainder)

Enter 1st Number: 6
Enter 2nd Number: 2
The Sum is  8.0
The DIfference is  4.0
The Product is  12.0
The Quotient is  3.0
The Remainder is  0.0

In [17]:
# Enter the Number of Days and display into Years, Months and Days
days = int(input("Enter the No of Days "))
year=days//365
month=(days%365)//12
dd=(days%365)%30

print(year,":",month,":",dd)

Enter the No of Days 365
1 : 0 : 0

In [ ]:
#largest in 2 numbers
a=int(input("enter a number: "))
b=int(input("enter a number: "))
if a>b:
  print(a,"is the largest number")
else:
  print(b, "is the largest number")

enter a number: 555
enter a number: 4275686
4275686 is the largest number

In [ ]:
#largest in 3 numbers
a=int(input("enter a number: "))
b=int(input("enter a number: "))
c=int(input("enter a number: "))
if a>b>c or a>c>b:
  print(a, "is the largest number")
elif b>a>c or b>c>a:
  print(b, "is the largest number")
elif c>a>b or c>b>a:
  print( c, "is the largest number")

enter a number: 9
enter a number: 987
enter a number: 5
987 is the largest number

In [ ]:
#smallest among 3 numbers
a=int(input("enter the number: "))
b=int(input("enter the number: "))
c=int(input("enter the number: "))
if a<b<c or a<c<b:
  print("the smallest number is:" ,a )
elif b<a<c or b<c<a:
  print("the smallest number is: ",b)
elif c<a<b or c<b<a:
  print("the smallest number is: ",c)

enter the number: 9
enter the number: 8
enter the number: 7
the smallest number is:  7

In [ ]:
#distance between two points in a number line
a=int(input("enter a number: "))
b=int(input("enter a number: "))
d=a-b
if d<0:
  d=d*(-1)
  --print("the distance is: ",d)
else:
  print("the distance is: ",d)

enter a number: 9
enter a number: -5
the distance is:  14

In [ ]:
#a number is 2 digit or not
x=int(input("enter a number; "))
if 9<x<100:
  print(x, "is a 2 digit number")
else:
    print(x ,"is not a 2 digit number")

enter a number; 4
4 is not a 2 digit number

In [ ]:
#given number is +ve, -ve or zero
x=int(input("enter a number: "))
if x==0:
  print(x, "is 0")
elif x>0:
  print(x, "is a positive number")
else:
  print(x, "is a negative number")

enter a number: 544
544 is a positive number

In [ ]:
#wheher a number is a multiple of another
a=int(input("enter a number: "))
b=int(input("enter another number: "))
if a%b==0:
  print(a, "is a multiple of",b)
else:
  print(a,"is not a multiple of",b)

enter a number: 4
enter another number:  2
4 is a multiple of 2

In [ ]:
#smallest digit in a 2 digit number
a=int(input("enter a number: "))
x=a%10
y=a//10
if  x>y:
  print(y, "is the sallest digit in",a)
elif x==y:
  print("both digits are same")
else:
  print(x, "is the smallest digit in",a)

enter a number: 56
5 is the sallest digit in 56

In [ ]:
#nature of a quardratic equation
a=int(input("enter the coefficient of x^2 "))
b=int(input("enter the coefficient if x: "))
c=int(input("enter the constant value: "))
d=b*b-(4*a*c)
if d==0:
  print("the roots are real and equal")
elif d>0:
  print("the roots are real and unequal")
elif d<0:
  print("the roots are imaginary")

enter the coefficient of x^2 15
enter the coefficient if x: 11
enter the constant value: 2
the roots are real and unequal

In [ ]:

#find the reverse of a number
n=int(input("enter a number: "))
reverse=0
while n>0:
  r=n%10
  reverse=(reverse*10)+r
  n=n//10
print("reverse of the number: ",reverse)

enter a number: 123
reverse of the number:  321

In [ ]:
#sum of first n natural numbers
n=int(input("enter the n value: "))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print("the sum of",n, "natural number is: ",sum)

enter the n value: 5
the sum of 5 natural number is:  15

In [ ]:
#sum of factors of a number
n=int(input("enter the number: "))
sum=0
i=1
while i<=n:
  if n%i==0:
   sum=sum+i
  i=i+1
print(sum)

enter the number: 6
12

In [ ]:
#print n terms of an arithmetic series
a=int(input("enter the first term: "))
d=int(input("enter the common difference: "))
n=int(input("enter the number of terms: "))
i=1
while i<=n:
  print(a)
  a=a+d
  i=i+1

enter the first term: 4
enter the common difference: 2
enter the number of terms: 5
4
6
8
10
12

In [18]:
#print n terms of fibonacci series
n=int(input("enter the no.of terms: "))
first=0
second=1
print(first)
print(second)
for i in range(3,n+1):
  print(first+second)
  temp=first
  first=second
  second=temp+second

enter the no.of terms: 9
0
1
1
2
3
5
8
13
21

In [ ]:
#check whether a number is palindrome or not
n=int(input("enter the number: "))
temp=n
rev=0
while n>0:
  r=n%10
  rev=(rev*10)+r
  n=n//10
if temp==rev:
  print(" the number is palindrome")
else:
  print("the number is not a palindrome")

enter the number: 1234554321
 the number is palindrome

In [24]:
#check whether a number is armstrong or not
num=int(input("enter the number: "))
numcopy1=num
numcopy2=num
length=0
armstrong=0
while numcopy1>0:
  numcopy1=numcopy1//10
  length=length+1
while numcopy2>0:
  rem=numcopy2%10
  armstrong=armstrong+pow(rem,length)
  numcopy2=numcopy2//10
if armstrong==num :
  print(num, "is an armstrong number")
else:
  print(num, "is not an armstrong number")

enter the number: 1634
1634 is an armstrong number

In [ ]:
#evaluate x^n
base=int(input("enter the base value: "))
power=int(input("enter the power: "))
result=1
while power>0:
  result=result*base
  power=power-1
print(result)

enter the base value: 3
enter the power: 3
27

In [ ]:
#print n odd numbers
n=int(input("enter the n value; "))
i=1
while i<2*n:
  print(i)
  i=i+2

enter the n value; 12
1
3
5
7
9
11
13
15
17
19
21
23

In [ ]:
#print GCD of 2 numbers
num1 = int(input("Enter the largest number: "))
num2 = int(input("Enter the smallest number: "))
if num1%num2==0:
  print("GCD is ",num2)
else:
  while num2!=0:
    remainder = num1%num2
    num1 = num2
    num2 = remainder
if num2==0:
  print("GCD is ",num1)

Enter the largest number: 98
Enter the smallest number: 36
GCD is  2

In [ ]:
#print factorial of a given number
n=int(input("enter the number; "))
result=1
while n>0:
  result=result*n
  n=n-1
print(result)

enter the number; 5
120

In [15]:
# find the sum of the given series, up to n terms. S = 1 - 4 + 9 - 16 + ....
n = int(input("Enter the no of terms: "))
sum=0
for i in range(1,n+1):
  i=i*i
  if i%2==0:
    i=i*(-1)
  sum=sum+i
print(sum)

Enter the no of terms: 6
-21

In [ ]:
# whether a given number is Automorphic or not.
num = int(input("Enter the num "))
numcopy = num
l = 0
while numcopy>0:
  numcopy = numcopy//10
  l = l + 1
result = pow(num,2)
last_digit = result % pow(10,length)
if last_digit == num:
  print("It is an automorphic number")
else:
  print("It is not an automorphic number")

Enter the num 25
It is an automorphic number

In [ ]:
# read a binary number and print its decimal equivalent.
binary_number = int(input("Enter the binary number "))
binary_number_copy = binary_number
length = 0
decimal = 0
while binary_number_copy>0:
  binary_number_copy = binary_number_copy//10
  length = length + 1


for i in range(length):
    remainder = binary_number%10
    binary_number = binary_number//10
    decimal = decimal + remainder*pow(2,i)

print(decimal)

Enter the binary number 1001
9

In [ ]:
#print 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print n nautral numbers
n=int(input("enter the number: "))
i=1
while i<=n:
  print(i)
  i=i+1

enter the number: 6
1
2
3
4
5
6